*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.timer{
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5; 
}

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day, .hour, .minute, .second{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}